.cmp-view-manager {
  position: relative;

  flex-grow: 1;

  display: flex;
  padding: var(--pal-size-s);
  height: 0;

  transition: padding var(--pal-time-m) ease;

  [data-nav-open='true'] & {
    padding-left: 0;
  }

  @media (width <= 50rem) {
    padding-left: var(--pal-size-s) !important;
  }
}
