.cmp-table-header {
  position: relative;

  flex-shrink: 0;

  transition: width var(--pal-time-s) ease;

  > .content {
    --gap: var(--pal-size-3xs);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    > .grip-area {
      padding: var(--gap);
      padding-bottom: 0;

      cursor: grab;

      > span {
        width: 100%;
        height: var(--pal-size-m);

        border-radius: calc(var(--table-border-radius) - var(--gap));
        background-image: radial-gradient(
          circle at 0.125rem 0.125rem,
          var(--pal-color-a-l1) 0.0625rem,
          transparent 0
        );
        background-size: 0.25rem 0.25rem;
      }
    }

    > .main {
      --cmp-option-selectors-color: var(--pal-color-a);
      --cmp-option-selectors-bg-color: var(--pal-color-a-l1);
      --cmp-option-selectors-color-active: var(--pal-color-white);

      flex-grow: 1;

      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: var(--cell-padding-inline);
      padding: var(--cell-padding-inline);

      > button {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
        gap: var(--cell-padding-inline);

        > .text {
          font-weight: 750;
          text-align: start;
          color: var(--pal-color-a-d2);
        }

        > .sort {
          --cmp-icon-size: var(--pal-size-s);

          display: flex;
          align-items: center;
          gap: var(--pal-size-xs);
          padding: var(--pal-size-xs);

          color: var(--pal-color-white);

          border-radius: var(--pal-size-2xs);
          background-color: var(--pal-color-a);
        }
      }
    }

    > .filter-container {
      display: flex;
      flex-direction: column;
      gap: var(--gap);
      padding: var(--gap);
      padding-top: 0;

      .input {
        padding-inline: calc(var(--control-padding-inline) - var(--gap));
        padding-right: var(--pal-size-xs);
      }

      .box {
        border-radius: calc(var(--table-border-radius) - var(--gap));
        background-color: var(--pal-color-a-l4);
      }
    }
  }

  > .resizer {
    --width: var(--pal-size-s);

    position: absolute;
    z-index: 1;
    top: 0;
    right: calc(var(--width) / -2);

    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--width);
    height: 100%;

    background-color: var(--pal-color-a-l5);
    box-shadow: var(--pal-shadow-0);
    opacity: 0;
    cursor: col-resize;
    pointer-events: none;
    user-select: none;

    transition: opacity var(--pal-time-xs) ease-out,
      translate var(--pal-time-s) ease;
    touch-action: none;

    &.resizing,
    &.resizing ~ .ruler,
    &:hover {
      opacity: initial;
    }

    &::before {
      position: absolute;

      width: var(--pal-size-2xs);
      height: var(--pal-size-2xl);

      border-radius: var(--pill-radius);
      background-color: var(--pal-color-a-l2);

      content: '';
    }
  }

  > .ruler {
    --step-width: 2rem;
    --step-color: var(--pal-color-a);
    --width: calc(var(--step-width) * 10);
    --height: var(--pal-size-2xl);

    position: absolute;
    z-index: 1;
    top: calc(50% - var(--height) / 2);
    right: calc(var(--width) / -2);

    width: var(--width);
    height: var(--height);

    background-image: repeating-linear-gradient(
      to right,
      var(--step-color) 0,
      var(--step-color) 0.0625rem,
      transparent 0.0625rem,
      transparent var(--step-width)
    );
    opacity: 0;
    mask-image: radial-gradient(#fff, transparent 87.5%);
    pointer-events: none;

    transition: opacity var(--pal-time-xs) ease-out;
  }

  &:hover > .resizer {
    pointer-events: initial;
  }

  &:last-child {
    overflow: hidden;

    > .resizer {
      right: 0;
    }
  }

  &.dragging {
    background-color: var(--pal-color-b-l1);
  }
}
