.cmp-option {
  flex-shrink: 0;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: var(--control-padding-inline);
  padding-block: var(--pal-size-s);
  padding-inline: var(--control-padding-inline);

  color: var(--pal-color-a-d2);

  cursor: pointer;

  transition: color var(--pal-time-xs) ease-out,
    background-color var(--pal-time-xs) ease-out;

  > strong {
    font-weight: 500;
  }

  > ul {
    display: flex;
    flex-wrap: wrap;
    gap: var(--pal-size-s);

    white-space: nowrap;

    > li {
      display: flex;
      gap: var(--pal-size-2xs);

      font-size: var(--pal-size-font-2xs);

      > strong {
        color: var(--pal-color-a);
      }
    }
  }

  > input {
    display: none;
  }

  &:hover {
    background-color: rgba(var(--pal-color-base-a), 0.125);
  }

  &:has(input:checked) {
    color: var(--pal-color-a-d3);

    background-color: var(--pal-color-a-l2);
  }
}
