.cmp-option {
  flex-shrink: 0;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: var(--control-padding-inline);
  padding-block: var(--pal-size-s);
  padding-inline: var(--control-padding-inline);

  color: var(--pal-color-a-d2);

  cursor: pointer;

  > strong {
    font-weight: unset;
  }

  > ul {
    display: flex;
    flex-wrap: wrap;
    row-gap: var(--pal-size-xs);
    column-gap: var(--pal-size-m);

    > li {
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;
      gap: var(--pal-size-xs);

      font-size: var(--pal-size-font-2xs);

      > strong {
        color: var(--pal-color-a);
      }
    }
  }

  > input {
    display: none;
  }

  &:not(:last-child) {
    border-bottom-color: var(--pal-color-a-l5);
    border-bottom-style: solid;
    border-bottom-width: var(--line-thickness);
  }

  &:hover {
    background-color: var(--pal-color-a-l5);
  }

  &:has(input:checked) {
    color: var(--pal-color-a-d3);

    background-color: var(--pal-color-a-l4);
  }
}
