.cmp-base-combobox {
  position: relative;

  > .header {
    display: flex;
    justify-content: space-between;
    height: var(--pal-size-2xl);

    overflow: hidden;
    cursor: pointer;

    transition: border-color var(--pal-time-xs) ease-out;

    &[disabled] {
      pointer-events: none;
    }

    &:hover > .arrow {
      background-color: var(--pal-color-white);
    }

    > .arrow {
      flex-shrink: 0;

      align-content: center;
      width: var(--control-height);
      min-height: 100%;

      color: var(--pal-color-a);

      transition: background-color var(--pal-time-xs) ease-out;

      > .cmp-icon {
        margin-inline: auto;

        transition: rotate var(--pal-time-s) ease;
      }
    }
  }

  &.open > .header {
    border-color: var(--pal-color-a);

    > .arrow {
      background-color: var(--pal-color-white);

      > .cmp-icon {
        rotate: -0.5turn;
      }
    }
  }
}
