.cmp-fetch-ref {
  > .cmp-button {
    justify-content: flex-start;
    border-color: var(--pal-color-a-l3);
    padding-block: var(--pal-size-xs);
    height: auto;

    line-height: 1.375rem;
    white-space: initial;
    color: var(--pal-color-a-d1);

    background-color: var(--pal-color-white);

    > .cmp-icon {
      --cmp-icon-size: var(--pal-size-s);

      color: var(--pal-color-a-l2);
    }
  }
}
