.cmp-section {
  --button-height: var(--pal-size-xl);

  flex-shrink: 0;

  display: flex;
  flex-direction: column;
  gap: var(--items-gap);
  height: var(--button-height);

  overflow: hidden;

  &:hover > .items > .bar {
    opacity: initial;
  }

  > button {
    --cmp-icon-size: var(--pal-size-s);

    flex-shrink: 0;

    display: flex;
    align-items: center;
    gap: var(--pal-size-xs);
    padding-inline: var(--pal-size-s);
    height: var(--button-height);

    white-space: nowrap;
    border-radius: var(--pal-size-2xs);

    transition: background-color var(--pal-time-xs) ease-out;

    &:hover {
      background-color: rgba(var(--pal-color-base-white), 0.25);
    }

    &.active {
      color: var(--pal-color-white);

      background-color: var(--pal-color-a);
    }

    > .cmp-icon {
      color: var(--pal-color-a);

      transition: rotate var(--pal-time-s) ease;
    }
  }

  > .items {
    display: flex;
    gap: var(--pal-size-s);
    padding-left: 1.125rem;

    > .bar {
      width: 0.0625rem;

      border-radius: var(--pal-size-3xl);
      background-color: rgba(var(--pal-color-base-white), 0.875);
      opacity: 0;

      transition: opacity var(--pal-time-xs) ease-out;
    }

    > .sections {
      flex-grow: 1;

      display: flex;
      flex-direction: column;
      gap: var(--items-gap);
    }
  }

  &.open {
    height: auto;

    > button > .cmp-icon {
      rotate: 0.25turn;
    }
  }
}
