.cmp-section {
  --button-height: var(--pal-size-xl);

  display: flex;
  flex-direction: column;
  gap: var(--items-gap);
  height: var(--button-height);

  overflow: hidden;

  > button {
    --cmp-icon-size: var(--pal-size-s);

    flex-shrink: 0;

    display: flex;
    align-items: center;
    gap: var(--pal-size-xs);
    padding-inline: var(--pal-size-s);
    height: var(--button-height);

    border-radius: var(--pal-size-2xs);

    transition: background-color var(--pal-time-xs) ease-out;

    &:hover {
      background-color: rgba(var(--pal-color-base-white), 0.25);
    }

    &.active {
      color: var(--pal-color-white);

      background-color: var(--pal-color-a);
    }
  }

  > .sections {
    display: flex;
    flex-direction: column;
    gap: var(--items-gap);
    margin-left: var(--pal-size-l);
  }

  &.open {
    height: auto;

    > button > .cmp-icon {
      rotate: 0.25turn;
    }
  }
}
