.cmp-button {
  position: relative;

  flex-shrink: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: calc(var(--cls-font-size) * 1.25);

  font-size: var(--cls-font-size);
  line-height: 1.4;

  border-radius: var(--pal-size-2xs);
  overflow: hidden;

  transition: background-color var(--pal-time-s) ease-out;

  > * {
    scale: 0;
    opacity: 0;

    transition: scale var(--pal-time-m) ease, opacity var(--pal-time-m) ease;
  }

  > :not(.body) {
    position: absolute;
  }

  > .loading,
  .body {
    display: flex;
    align-items: center;
    gap: var(--cls-gap);
  }

  > .body {
    text-align: start;
  }

  > .active {
    scale: initial;
    opacity: initial;
  }

  &.l,
  &.m {
    font-weight: 650;
  }

  &.s {
    padding-inline: calc(var(--cls-gap) * 2);
  }

  &.secondary {
    border-width: var(--line-thickness);
    border-style: solid;
  }

  &.inverted > .body > .cmp-icon {
    order: -1;
  }

  &:not(.wrap) {
    height: var(--cls-height);
  }

  &.wrap {
    padding-block: calc(var(--cls-font-size) * 0.5);
  }

  &.square {
    padding: 0;
    aspect-ratio: 1;
  }

  &:disabled {
    cursor: default;
  }
}
