:root {
  --cmp-button-bg-color: var(--pal-color-a);
}

.cmp-button {
  --cmp-loader-size: var(--ui-loader-size);
  --cmp-icon-size: var(--ui-icon-size);
  --interact-color: var(--cmp-button-bg-color);

  position: relative;

  flex-shrink: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: var(--ui-padding-inline);

  font-size: var(--ui-font-size);
  line-height: 1.4;

  border-radius: var(--ui-border-radius);
  background-color: color-mix(
    in srgb,
    var(--interact-color) 8.75%,
    var(--cmp-button-bg-color)
  );
  overflow: hidden;

  transition: background-color var(--pal-time-s) ease-out,
    var(--cmp-button-transition, var(--transition-dummy));

  > * {
    scale: 0;
    opacity: 0;

    transition: scale var(--pal-time-m) ease, opacity var(--pal-time-m) ease;
  }

  > :not(.body) {
    position: absolute;
  }

  > .loading,
  .body {
    display: flex;
    align-items: center;
    gap: var(--ui-gap);
  }

  > .body {
    text-align: start;
  }

  > .active {
    scale: initial;
    opacity: initial;
  }

  &.ui-l,
  &.ui-m {
    font-weight: 650;
  }

  &.secondary {
    --cmp-button-bg-color: transparent;

    border-width: var(--line-thickness);
    border-style: solid;
  }

  &.inverted > .body > .cmp-icon {
    order: -1;
  }

  &:not(.wrap) {
    height: var(--ui-height);
  }

  &.wrap {
    padding-block: calc(var(--ui-font-size) * 0.5);
  }

  &.square {
    padding: 0;
    aspect-ratio: 1;
  }

  &:hover {
    --interact-color: #fff;
  }

  &:active {
    --interact-color: var(--pal-color-a-d1);
  }

  &:disabled {
    --interact-color: var(--cmp-button-bg-color);

    cursor: default;
  }
}
