.cmp-nav {
  position: relative;
  z-index: 1;

  > .backdrop {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;

    display: none;
    width: 100dvw;
    height: 100dvh;

    background-color: var(--pal-color-black);
    opacity: 0;

    transition: opacity var(--pal-time-m) ease,
      display var(--pal-time-m) ease allow-discrete;
  }

  .cmp-button {
    --gap: var(--pal-size-m);

    position: absolute;
    z-index: -1;
    top: var(--gap);
    left: var(--gap);

    border-color: var(--pal-color-a-l2);
    padding: 0;
    width: var(--pal-size-2xl);

    color: var(--pal-color-a-d2);
  }

  > nav {
    --items-gap: var(--pal-size-2xs);

    position: fixed;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--pal-size-m);
    padding: var(--pal-size-m);
    width: fit-content;
    max-width: calc(100% - var(--pal-size-2xl));
    height: 100dvh;

    background-color: var(--pal-color-a-l2);
    translate: -100%;

    transition: box-shadow var(--pal-time-m) ease,
      translate var(--pal-time-m) ease;

    > .tree {
      display: flex;
      flex-direction: column;
      gap: var(--items-gap);

      overflow: auto;
      scrollbar-color: var(--pal-color-a-l1) transparent;
    }

    > .cmp-external-link {
      color: var(--pal-color-a-d2);

      background-color: var(--pal-color-a-l3);
    }
  }

  &.open {
    > .backdrop {
      display: initial;

      opacity: 0.5;

      @starting-style {
        opacity: 0;
      }
    }

    > nav {
      box-shadow: var(--pal-shadow-1);
      translate: initial;
    }
  }
}
