.cmp-query {
  display: flex;
  flex-direction: column;
  gap: var(--pal-size-l);

  > header {
    display: flex;
    gap: var(--gap);

    > form {
      flex-grow: 1;

      flex-direction: unset;
      align-items: flex-end;
      gap: var(--gap);

      > .cmp-base-combobox {
        flex-grow: 1;
      }

      > .cmp-button {
        color: var(--pal-color-white);

        background-color: var(--pal-color-a);
      }
    }
  }

  > ul {
    flex-direction: column;
    gap: var(--pal-size-l);
    padding: var(--pal-size-l);
    max-width: max-content;

    border-radius: var(--pal-size-xs);
    background-color: var(--pal-color-white);

    > li {
      display: flex;
      align-items: baseline;
      justify-content: space-between;
      gap: var(--pal-size-3xl);

      > strong {
        color: var(--pal-color-a);
        white-space: nowrap;
      }
    }
  }
}
