.cmp-favorite-views {
  display: grid;
  gap: var(--pal-size-xs);
  max-width: 30rem;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 8rem), 1fr));

  > .item {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-width: var(--line-thickness);
    border-style: solid;
    border-color: var(--pal-color-a-l2);
    padding: var(--pal-size-m);
    height: 5.5rem;

    color: var(--pal-color-a-l1);

    border-radius: var(--ui-border-radius);
    cursor: pointer;

    transition: color var(--pal-time-xs) ease-out,
      background-color var(--pal-time-xs) ease-out;

    > .cmp-button {
      --separation: var(--pal-size-2xs);
      --cmp-button-bg-color: var(--pal-color-a-l3);
      --cmp-button-transition: opacity var(--pal-time-s) ease-out;

      position: absolute;
      top: var(--separation);
      right: var(--separation);

      color: var(--pal-color-white);

      @media (hover: hover) {
        opacity: 0;
      }
    }

    > .cmp-icon {
      --cmp-icon-size: var(--pal-size-font-m);
    }

    > .text {
      width: 100%;

      font-size: var(--pal-size-font-xs);
      font-weight: 650;
      text-align: center;
      white-space: nowrap;
      text-overflow: ellipsis;

      overflow: hidden;
    }

    &.active {
      color: var(--pal-color-white);

      background-color: var(--pal-color-a-l2);
    }

    &:hover > .cmp-button {
      opacity: initial;
    }
  }

  nav:not([data-view-mode='favorites']) > & {
    display: none;
  }
}
