.cmp-map {
  width: 100%;
  height: 100%;

  > .map {
    width: 100%;
    height: 100%;

    border-radius: var(--pal-size-xs);
    isolation: isolate;

    *:focus {
      outline: none;
    }
  }
}
