.cmp-button {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: calc(var(--font-size) * 1.5);

  font-size: var(--font-size);
  line-height: 1.4;
  white-space: nowrap;
  letter-spacing: 0.03125rem;

  border-radius: var(--pal-size-2xs);
  overflow: hidden;

  transition: background-color var(--pal-time-s) ease-out;

  > * {
    scale: 0;
    opacity: 0;

    transition: scale var(--pal-time-m) ease, opacity var(--pal-time-m) ease;
  }

  > :not(.body) {
    position: absolute;
  }

  > .body {
    display: flex;
    align-items: center;
    gap: calc(var(--font-size) * 0.75);
  }

  > .active {
    scale: 1;
    opacity: initial;
  }

  &.l {
    --font-size: var(--pal-size-font-s);
    --cmp-icon-size: var(--pal-size-font-s);

    height: var(--pal-size-2xl);

    font-weight: 600;
  }

  &.m {
    --font-size: var(--pal-size-font-xs);
    --cmp-icon-size: var(--pal-size-font-s);

    height: var(--pal-size-xl);

    font-weight: 600;
  }

  &.s {
    --font-size: var(--pal-size-font-2xs);
    --cmp-icon-size: var(--pal-size-font-xs);

    height: var(--pal-size-l);
  }

  &.primary {
    letter-spacing: inherit;
  }

  &.secondary {
    border-width: var(--line-thickness);
    border-style: solid;
  }

  &.tertiary {
    letter-spacing: inherit;
  }

  &.inverted > .body > .cmp-icon {
    order: -1;
  }

  &.square {
    padding: 0;
    aspect-ratio: 1;
  }

  &:disabled {
    cursor: default;
  }
}
