.cmp-query {
  display: flex;
  flex-direction: column;
  gap: var(--pal-size-l);

  > header {
    display: flex;
    align-items: flex-end;
    gap: var(--pal-size-s);

    > form {
      flex-grow: 1;

      flex-direction: unset;
      align-items: flex-end;
      gap: var(--pal-size-s);

      > .cmp-base-combobox {
        flex-grow: 1;
      }

      > .cmp-button {
        color: var(--pal-color-white);

        background-color: var(--pal-color-a);
      }
    }

    > .cmp-button {
      border-color: var(--pal-color-b);

      color: var(--pal-color-b-d1);
    }
  }

  > .content {
    display: grid;
    align-items: flex-start;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 30rem), 1fr));
    gap: var(--pal-size-s);

    p {
      text-align: right;
    }
  }
}

.section {
  > ul {
    flex-direction: column;
    gap: var(--pal-size-l);

    border-radius: var(--pal-size-s);
    background-color: var(--pal-color-white);

    > li {
      display: flex;
      align-items: baseline;
      justify-content: space-between;
      gap: var(--pal-size-3xl);

      > .group {
        display: flex;
        align-items: center;
        gap: var(--pal-size-m);

        color: var(--pal-color-a);

        > .cmp-button {
          border-color: var(--pal-color-a-l2);

          color: var(--pal-color-a-l1);
        }

        > strong {
          white-space: nowrap;
        }
      }

      > .value {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        gap: var(--pal-size-s);
      }
    }
  }

  &.for-capture {
    border: none;
    padding: 0;
    width: 40rem;
  }
}
