.cmp-cell {
  padding-inline: var(--cell-padding-inline);
  height: 4rem;

  > .items {
    display: flex;
    flex-wrap: wrap;
    gap: var(--pal-size-2xs);
    padding-block: var(--pal-size-s);
    max-width: 30rem;
  }

  > p > small {
    --gap: var(--pal-size-xs);

    color: var(--pal-color-a);

    &.pre {
      margin-right: var(--gap);
    }

    &.sub {
      margin-left: var(--gap);
    }
  }
}
