.cmp-form {
  align-items: flex-start;
  width: 100%;

  > .field-groups {
    --gap: var(--pal-size-m);

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 30rem), 1fr));
    align-items: start;
    gap: var(--gap);
    width: 100%;

    > .section > .fields {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: end;
      gap: var(--gap);

      @media (width < 35rem) {
        grid-template-columns: 1fr;
      }
    }
  }

  > footer {
    position: sticky;
    bottom: 0;

    border-top: var(--line-thickness) solid var(--pal-color-a-l4);
    padding-top: var(--pal-size-m);
    width: 100%;

    background-color: var(--pal-color-white);

    > .cmp-button {
      color: var(--pal-color-white);
    }
  }
}
