* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  line-height: 1;
  color: inherit;

  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: var(--pal-color-a-l2) transparent;
}

:root {
  --line-thickness: 0.0625rem;
  --document-background-color: var(--pal-color-gs-50);
}

html {
  text-rendering: optimizeLegibility;
  background-color: var(--document-background-color);
}

::selection {
  color: var(--pal-color-white);
  background-color: var(--pal-color-a-d1);
}

:is(h1, h2, h3, h4),
:is(h1, h2, h3, h4) > * {
  margin: 0;

  font-family: var(--pal-font-b);
  font-weight: 550;
  word-spacing: initial;
  letter-spacing: initial;
}

small {
  font-size: var(--pal-size-font-xs);
}

ul,
ol {
  display: flex;
  list-style: none;
}

hr {
  border: none;
}

span {
  display: block;
}

input,
textarea {
  outline: none;
}

button {
  border: none;

  background-color: transparent;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  gap: var(--pal-size-l);
}
