* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  line-height: 1;
  font-weight: inherit;
  letter-spacing: inherit;
  color: inherit;

  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: var(--pal-color-a-l3) transparent;
}

:root {
  --line-thickness: 0.0625rem;
  --pill-radius: 100rem;
  --document-background-color: var(--pal-color-a-l4);
  --transition-dummy: outline-width 0s;
}

html {
  text-rendering: optimizeLegibility;
  background-color: var(--document-background-color);
}

body {
  font-family: var(--pal-font-a);
  font-weight: 550;
  letter-spacing: 0.0125rem;
  word-spacing: 0.0625rem;
  color: var(--pal-color-a-d2);
}

::selection {
  color: var(--pal-color-white);
  background-color: var(--pal-color-a-d1);
}

:is(h1, h2, h3, h4),
:is(h1, h2, h3, h4) > * {
  margin: 0;

  font-weight: 650;
}

small {
  font-size: var(--pal-size-font-2xs);
}

strong {
  font-weight: 750;
}

ul,
ol {
  display: flex;
  list-style: none;
}

hr {
  border: none;
}

span {
  display: block;
}

input,
textarea {
  outline: none;
}

button {
  border: none;

  background-color: transparent;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  gap: var(--pal-size-l);
}
