.cmp-fetch-ref {
  > .cmp-button {
    justify-content: flex-start;
    border-color: var(--pal-color-a-l3);
    width: 100%;

    color: var(--pal-color-a-d1);

    background-color: var(--pal-color-white);

    > .cmp-icon {
      --cmp-icon-size: var(--pal-size-s);

      order: -1;

      color: var(--pal-color-a-l2);
    }
  }
}
