.cmp-view {
  --gap: var(--pal-size-m);

  position: absolute;

  display: none;
  flex-direction: column;
  gap: var(--gap);
  padding: var(--gap);
  width: 100%;
  height: 100dvh;

  > header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--gap);

    > fieldset {
      display: flex;
      gap: var(--gap);
      margin-left: calc(var(--pal-size-2xl) + var(--gap));
      border: none;

      > label {
        --height: var(--pal-size-2xl);

        display: flex;
        align-items: center;
        justify-content: center;
        gap: var(--pal-size-s);
        padding-inline: var(--pal-size-l);
        height: var(--height);

        color: var(--pal-color-a-d2);

        border-radius: var(--pal-size-2xs);
        cursor: pointer;

        transition: color var(--pal-time-xs) ease-out,
          background-color var(--pal-time-xs) ease-out;

        @media (width < 45rem) {
          padding: 0;
          width: var(--height);

          > .text {
            display: none;
          }
        }

        > input {
          display: none;
        }

        &:hover {
          background-color: var(--pal-color-a-l3);
        }

        &:has(input:checked) {
          background-color: var(--pal-color-a-l2);
        }
      }
    }

    > h1 {
      padding-right: var(--gap);

      font-size: clamp(var(--pal-size-font-s), 2.5dvw, var(--pal-size-font-l));
      line-height: initial;
      white-space: nowrap;
      text-overflow: ellipsis;
      color: var(--pal-color-a-l1);

      overflow: hidden;
    }
  }

  > .local-views {
    position: relative;
    height: 100%;

    > div {
      position: absolute;

      display: none;
      width: 100%;
      height: 100%;

      > * {
        height: 100%;
      }

      &.active {
        display: initial;
      }
    }
  }

  &.active {
    display: flex;
  }
}
