:root {
  --cmp-secure-hold-button-progress-color: var(--pal-color-a);
}

.cmp-secure-hold-button {
  --width-transition-time: var(--pal-time-s);

  transition: background-color var(--pal-time-s) ease-out;

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 0;
    height: 0;

    content: '';

    border-radius: var(--pal-size-3xl);
    background-color: var(--cmp-secure-hold-button-progress-color);

    transition: width var(--width-transition-time) ease-out,
      height var(--pal-time-s) ease-out;
  }

  &:active {
    &::after {
      --width-transition-time: 3000ms;

      width: 100%;
      height: 0.1875rem;
    }
  }

  &:disabled {
    &::after {
      width: 100%;
    }
  }
}
