.cmp-local-edit {
  display: flex;
  flex-direction: column;
  gap: var(--pal-size-l);
  height: 100%;

  > h2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--pal-size-s);

    font-size: var(--pal-size-font-s);
    color: var(--pal-color-a);

    > strong {
      font-weight: 650;

      background-color: var(--pal-color-a-l4);
    }
  }

  > .banner-container {
    align-content: center;
    height: 100%;

    > .banner {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: var(--pal-size-s);
      margin-inline: auto;
      padding: var(--pal-size-l);
      width: fit-content;

      color: var(--pal-color-a-l1);

      border-radius: var(--pal-size-xs);
      background-color: var(--pal-color-a-l5);

      > p > strong {
        color: var(--pal-color-a);
      }

      > .cmp-button {
        border-color: var(--pal-color-a-l2);
      }
    }
  }
}
