.cmp-table {
  flex-grow: 1;

  max-width: max-content;

  overflow: auto;
}

.table {
  --cell-padding-inline: var(--pal-size-m);
  --table-border-radius: var(--pal-size-xs);

  border-width: var(--line-thickness);
  border-style: solid;
  border-color: var(--pal-color-white);
  width: max-content;

  border-radius: var(--table-border-radius);
  background-color: var(--pal-color-white);
  overflow: auto;

  .row {
    display: flex;
  }

  > .head {
    background-color: var(--pal-color-a-l2);

    > .row > * {
      border-right-width: var(--line-thickness);
      border-right-style: solid;
      border-right-color: var(--pal-color-white);

      &:last-child {
        border: none;
      }
    }
  }

  > .body {
    display: flex;
    flex-direction: column;

    border-block-width: var(--line-thickness);
    border-block-style: solid;
    border-block-color: var(--pal-color-white);

    > .row {
      border-bottom-width: var(--line-thickness);
      border-bottom-style: solid;
      border-bottom-color: var(--pal-color-a-l3);

      &:last-of-type {
        border: none;
      }

      &:hover {
        background-color: var(--pal-color-a-l3);
      }
    }
  }

  > .foot {
    background-color: var(--pal-color-a-l3);
  }

  > :is(.body, .foot) > .row {
    align-items: center;
    padding-block: var(--pal-size-s);
  }
}
