.cmp-local-add > form {
  > .field-groups {
    --gap: var(--pal-size-m);

    display: grid;
    align-items: flex-start;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 30rem), 1fr));
    gap: var(--gap);

    > .group {
      display: flex;
      flex-direction: column;
      gap: var(--pal-size-2xl);
      padding: var(--pal-size-l);

      border-radius: var(--pal-size-xs);
      background-color: var(--pal-color-white);

      > small {
        display: flex;
        align-items: center;
        gap: var(--gap);

        font-size: var(--pal-size-font-m);
        color: var(--pal-color-a-l1);
      }

      > .fields {
        display: flex;
        flex-wrap: wrap;

        gap: var(--gap);

        > .control {
          flex-grow: 1;

          &.s {
            flex-basis: 5rem;
          }

          &.m {
            flex-basis: 14.25rem;
          }

          &.l {
            flex-basis: 50rem;
          }
        }
      }
    }
  }

  > .actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: var(--pal-size-m);

    > .cmp-button {
      border-color: var(--pal-color-a-l2);

      color: var(--pal-color-a);
    }

    > .cmp-state-button {
      width: 9rem;

      color: var(--pal-color-white);

      background-color: var(--pal-color-a);
    }
  }
}
