.cmp-value {
  flex-shrink: 0;

  display: flex;
  align-items: center;
  padding-inline: calc(var(--ui-font-size) * 1.25);
  gap: var(--ui-gap);

  font-size: var(--ui-font-size);
  line-height: 1.4;
  white-space: nowrap;

  border-radius: var(--pal-size-2xs);

  &.pill {
    border-radius: var(--pill-radius);
  }

  &.secondary {
    border-width: var(--line-thickness);
    border-style: solid;
  }
}
