.cmp-input-label {
  display: inline-flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--pal-size-2xs);

  > .title {
    display: flex;
    gap: var(--pal-size-xs);

    font-size: var(--pal-size-font-xs);
    line-height: 1.4;
    font-weight: 750;

    color: var(--pal-color-a-d1);

    > span {
      color: var(--pal-color-b);
    }
  }

  > .editing-actions {
    display: flex;
    align-items: center;
    gap: var(--pal-size-2xs);

    > .cmp-button {
      border-color: var(--pal-color-a-l2);

      color: var(--pal-color-a);
    }
  }
}
