:root {
  --cmp-option-selectors-color: var(--pal-color-a-l1);
  --cmp-option-selectors-bg-color: var(--pal-color-a-l2);
  --cmp-option-selectors-color-active: var(--pal-color-white);
}

.cmp-option-selectors {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--pal-size-2xs);
  border: none;

  > label {
    align-content: center;
    border-width: var(--line-thickness);
    border-style: solid;
    border-color: var(--cmp-option-selectors-bg-color);
    padding-inline: var(--pal-size-xs);
    height: var(--pal-size-l);

    font-size: var(--pal-size-font-2xs);
    line-height: 0;
    white-space: nowrap;
    color: var(--cmp-option-selectors-color);

    border-radius: var(--pill-radius);
    cursor: pointer;

    transition: color var(--pal-time-xs) ease-out,
      background-color var(--pal-time-xs) ease-out;

    > input {
      display: none;
    }

    &:has(input:checked) {
      color: var(--cmp-option-selectors-color-active);

      background-color: var(--cmp-option-selectors-bg-color);
    }
  }
}
