.cmp-option-selectors {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--pal-size-2xs);
  border: none;

  > label {
    border-width: 0.0625rem;
    border-style: solid;
    border-color: var(--pal-color-a-l2);
    padding-block: var(--pal-size-2xs);
    padding-inline: var(--pal-size-xs);

    font-size: var(--pal-size-font-xs);
    white-space: nowrap;
    color: var(--pal-color-a-l1);

    border-radius: var(--pal-size-3xl);
    cursor: pointer;

    transition: color var(--pal-time-xs) ease-out,
      background-color var(--pal-time-xs) ease-out;

    > input {
      display: none;
    }

    &:has(input:checked) {
      color: var(--pal-color-white);

      background-color: var(--pal-color-a-l2);
    }
  }
}
