.cmp-header {
  font-weight: initial;
  vertical-align: bottom;

  border-inline-style: solid;
  border-inline-width: var(--line-thickness);
  border-inline-color: var(--pal-color-white);

  /* Corrige el border excedente */
  &:last-of-type {
    border: none;
  }

  > .content {
    display: flex;
    flex-direction: column;

    > header {
      display: flex;
      align-items: center;
      gap: var(--pal-size-m);
      padding: var(--pal-size-m);

      > .title {
        font-weight: 600;
        color: var(--pal-color-a-d1);
      }

      > small {
        padding-block: var(--pal-size-2xs);
        padding-inline: var(--pal-size-xs);

        font-weight: 500;
        color: var(--pal-color-a);

        border-radius: var(--pal-size-3xl);
        background-color: var(--pal-color-a-l3);
      }
    }

    > .filter {
      --gap: var(--pal-size-3xs);

      display: flex;
      flex-direction: column;
      gap: var(--gap);
      padding: var(--gap);
      padding-top: 0;

      .input {
        padding-inline: calc(var(--control-padding-inline) - var(--gap));
        padding-right: 0;
        min-width: 7rem;

        border-radius: calc(var(--table-border-radius) - var(--gap));

        background-color: var(--pal-color-a-l3);
      }
    }
  }
}
