.cmp-header {
  position: relative;

  vertical-align: bottom;
  border-inline-style: solid;
  border-inline-width: var(--line-thickness);
  border-inline-color: var(--pal-color-white);

  /* Corrige el border excedente */
  &:last-of-type {
    border: none;
  }

  &.dragging {
    background-color: var(--pal-color-b-l1);
  }

  > .content {
    display: flex;
    flex-direction: column;

    > button {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: var(--cell-padding-inline);
      padding: var(--cell-padding-inline);

      > .title-group {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: var(--pal-size-xs);

        font-weight: 650;

        > .title {
          text-align: start;
          color: var(--pal-color-a-d2);
        }

        > small {
          font-size: var(--pal-size-font-2xs);
          color: var(--pal-color-a);
        }
      }

      > .sort {
        --cmp-icon-size: var(--pal-size-s);

        display: flex;
        align-items: center;
        gap: var(--pal-size-xs);
        padding: var(--pal-size-xs);

        font-weight: 500;
        color: var(--pal-color-a-l3);

        border-radius: var(--pal-size-2xs);
        background-color: var(--pal-color-a);
      }
    }

    > .filters {
      --gap: var(--pal-size-3xs);

      display: flex;
      flex-direction: column;
      gap: var(--gap);
      padding: var(--gap);
      padding-top: 0;

      .input {
        padding-inline: calc(var(--control-padding-inline) - var(--gap));
        padding-right: var(--pal-size-xs);
        min-width: 8rem;

        border-radius: calc(var(--table-border-radius) - var(--gap));

        background-color: var(--pal-color-a-l3);
      }
    }
  }

  > .resizer {
    position: absolute;
    top: 0;
    right: 0;

    width: var(--pal-size-s);
    height: 100%;

    opacity: 0;
    cursor: col-resize;
    user-select: none;

    transition: opacity var(--pal-time-xs) ease-out;
    background: linear-gradient(to right, transparent, var(--pal-color-a-l1));
    touch-action: none;

    &.resizing,
    &:hover {
      opacity: initial;
    }
  }
}
