.cmp-toggle {
  --border-radius: var(--pal-size-2xs);

  color: var(--pal-color-gs-400);

  cursor: pointer;

  > input {
    display: none;
  }

  > .switch {
    --height: var(--ui-height);
    --width: var(--pal-size-2xl);

    position: relative;

    border-width: var(--line-thickness);
    border-style: solid;
    border-color: var(--pal-color-a-l2);
    width: var(--width);
    height: var(--height);

    border-radius: var(--border-radius);
    background: linear-gradient(
      90deg,
      var(--pal-color-a-l1) 0%,
      var(--pal-color-a-l1) 50%,
      var(--pal-color-gs-200) 50%,
      var(--pal-color-gs-200) 100%
    );
    overflow: hidden;

    transition: border-color var(--pal-time-xs) ease-out,
      color var(--pal-time-xs) ease-out;

    > .lever {
      position: absolute;
      left: 0;

      align-content: center;
      aspect-ratio: 1;
      height: 100%;

      border-radius: calc(var(--border-radius) - var(--line-thickness));
      background-color: var(--pal-color-white);

      transition: left var(--pal-time-s) ease;

      > .cmp-icon {
        margin-inline: auto;
      }
    }
  }

  > .toggle {
    align-content: center;
    border-width: var(--line-thickness);
    border-style: solid;
    border-color: var(--pal-color-a-l2);
    aspect-ratio: 1;
    width: var(--ui-height);

    border-radius: var(--border-radius);

    transition: border-color var(--pal-time-xs) ease-out,
      color var(--pal-time-xs) ease-out,
      background-color var(--pal-time-xs) ease-out;

    > * {
      margin-inline: auto;
    }
  }

  &:has(input:checked) {
    > .switch {
      color: var(--pal-color-a);

      border-color: var(--pal-color-a-l1);

      > .lever {
        left: calc(var(--width) - var(--height));
      }
    }

    > .toggle {
      border-color: var(--pal-color-a-l1);

      color: var(--pal-color-white);

      background-color: var(--pal-color-a-l1);
    }
  }
}
