.cmp-table {
  position: relative;

  flex-grow: 1;

  display: flex;
  flex-direction: column;
  border-width: var(--line-thickness);
  border-style: solid;
  border-color: var(--pal-color-a-l3);
  max-width: max-content;
  max-height: max-content;

  border-radius: var(--pal-size-xs);
  background-color: var(--pal-color-white);
  overflow: auto;

  > .actions {
    position: sticky;
    left: 0;

    display: flex;
    flex-direction: column;
    gap: var(--pal-size-2xs);
    padding: var(--pal-size-2xs);

    > .main-bar {
      display: flex;
      justify-content: space-between;
      gap: var(--pal-size-2xs);

      > .left {
        display: flex;
        flex-wrap: wrap;
        gap: var(--pal-size-2xs);

        .fa-down-left-and-up-right-to-center {
          --fa-rotate-angle: 45deg;
        }
      }

      > .cmp-value {
        border-color: var(--pal-color-a-l3);

        color: var(--pal-color-a);
      }

      > .right {
        > .cmp-button {
          border-color: var(--pal-color-b-l1);

          color: var(--pal-color-b-d1);
        }
      }
    }

    &:has(.open) {
      z-index: 1;
    }
  }

  &:not(.enable-filters) .filter-container {
    display: none !important;
  }
}

.table {
  --cell-padding-inline: var(--pal-size-m);
  --table-border-radius: var(--pal-size-xs);

  width: max-content;

  border-radius: var(--table-border-radius);
  overflow: auto;

  .row {
    display: flex;
  }

  > .head {
    background-color: var(--pal-color-a-l2);

    > .row > * {
      border-right-width: var(--line-thickness);
      border-right-style: solid;
      border-right-color: var(--pal-color-white);

      &:last-child {
        border: none;
      }
    }

    &:not(.enable-column-control) {
      position: initial;

      .grip-area,
      .resizer,
      .ruler {
        display: none;
      }
    }

    &.enable-stick {
      position: sticky;
      top: 0;
    }
  }

  > .body {
    display: flex;
    flex-direction: column;

    border-block-width: var(--line-thickness);
    border-block-style: solid;
    border-block-color: var(--pal-color-white);

    > .row {
      border-bottom-width: var(--line-thickness);
      border-bottom-style: solid;
      border-bottom-color: var(--pal-color-a-l3);

      &:last-of-type {
        border: none;
      }

      &:hover {
        background-color: var(--pal-color-a-l3);
      }
    }
  }

  > .foot {
    background-color: var(--pal-color-a-l3);

    &.enable-stick {
      position: sticky;
      bottom: 0;
    }
  }

  > :is(.body, .foot) > .row {
    align-items: center;
    padding-block: var(--pal-size-s);
  }
}
