.cmp-table {
  display: flex;
  flex-direction: column;

  overflow: auto;

  &:not(.enable-filters) .filter-container {
    display: none !important;
  }

  > .table {
    > .head {
      &:not(.enable-column-control) {
        position: initial;

        .grip-area,
        .resizer,
        .ruler {
          display: none;
        }
      }

      &.enable-stick {
        position: sticky;
        top: 0;
      }
    }

    > .foot.enable-stick {
      position: sticky;
      bottom: 0;
    }
  }
}
