.cmp-not-found > h1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: var(--pal-size-m);

  color: var(--pal-color-a-l1);

  > small {
    font-size: var(--pal-size-font-s);
    color: var(--pal-color-a-l2);
  }
}
