.cmp-local-query {
  display: flex;
  flex-direction: column;
  gap: var(--pal-size-m);

  /* mask-image: linear-gradient(to right, #fff 95%, transparent); */

  > header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: var(--pal-size-m);

    > .cmp-base-combobox {
      width: 100%;
    }

    > .filters {
      display: flex;
      flex-wrap: wrap;
      gap: var(--pal-size-m);
      width: 100%;

      > .item {
        display: flex;
        flex-direction: column;
        gap: var(--pal-size-xs);
        min-width: 14rem;

        font-weight: 600;
        white-space: nowrap;
        color: var(--pal-color-a-d1);
      }
    }

    > .left {
      flex-grow: 1;

      display: flex;
      align-items: center;
      gap: var(--pal-size-m);

      > .cmp-state-button {
        flex-shrink: 0;

        padding: 0;
        aspect-ratio: 1;

        color: var(--pal-color-white);

        background-color: var(--pal-color-a);
      }

      > .total-items {
        display: flex;
        align-items: center;
        gap: var(--pal-size-s);
        padding-block: var(--pal-size-xs);
        padding-inline: var(--pal-size-s);

        font-weight: 650;
        color: var(--pal-color-a);

        border-radius: var(--pal-size-3xl);
        background-color: var(--pal-color-a-l3);
      }
    }

    > .actions {
      display: flex;
      flex-wrap: wrap;
      gap: var(--pal-size-m);

      > .cmp-secure-hold-button {
        border-color: var(--pal-color-a-l1);
        width: 8rem;

        color: var(--pal-color-a);
      }

      > .cmp-button,
      .cmp-state-button {
        border-color: var(--pal-color-b);
        color: var(--pal-color-b-d1);
      }

      > .cmp-state-button {
        width: 8rem;
      }
    }
  }
}
