.cmp-local-query {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--pal-size-m);

  overflow: auto;

  /* mask-image: linear-gradient(to right, #fff 95%, transparent); */

  > header {
    display: flex;
    align-items: center;
    gap: var(--pal-size-m);

    > .cmp-state-button {
      padding: 0;
      aspect-ratio: 1;
    }
  }

  > table {
    margin-bottom: var(--pal-size-xs);
    border-width: var(--line-thickness);
    border-style: solid;
    border-collapse: collapse;

    white-space: nowrap;

    border-radius: var(--pal-size-xs);
    background-color: var(--pal-color-white);
    overflow: hidden;

    th,
    td {
      padding-inline: var(--pal-size-m);
      height: var(--pal-size-2xl);
    }

    thead {
      background-color: var(--pal-color-a-l2);

      th {
        font-weight: 600;
        text-align: start;
        color: var(--pal-color-a-d1);

        border-inline-style: solid;
        border-inline-width: var(--line-thickness);
        border-inline-color: var(--pal-color-white);
      }
    }

    tbody {
      tr {
        position: relative;

        border-width: 0;
        border-style: solid;
        border-color: var(--pal-color-gs-50);
        border-block-width: var(--line-thickness);

        /* "Sobrescribe" el border actual y del elemento anterior */
        &::after {
          --position: calc(var(--line-thickness) * -1.5);

          position: absolute;
          inset: 0;
          top: var(--position);
          bottom: var(--position);

          border-block-style: solid;
          border-block-width: 0;
          border-block-color: var(--pal-color-white);

          content: '';
        }

        &:hover {
          background-color: var(--pal-color-a-l3);

          &::after {
            border-block-width: var(--line-thickness);
          }
        }

        td {
        }
      }
    }
  }
}
