.cmp-local-query {
  display: flex;
  gap: var(--pal-size-s);

  > .group {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    gap: var(--pal-size-s);

    overflow: hidden;

    > header {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      gap: var(--pal-size-s);

      > .cmp-base-combobox {
        width: 100%;
      }

      > .left {
        flex-grow: 1;

        display: flex;
        align-items: center;
        gap: var(--pal-size-s);

        > .cmp-button {
          color: var(--pal-color-white);
        }
      }

      > .actions {
        display: flex;
        flex-wrap: wrap;
        gap: var(--pal-size-s);

        .cmp-button {
          border-color: var(--pal-color-c);

          color: var(--pal-color-c-d1);

          &.hold {
            border-color: var(--pal-color-a-l1);
            width: 8rem;

            color: var(--pal-color-a);
          }
        }
      }
    }
  }

  > .panels {
    flex-shrink: 0;

    display: flex;
    flex-direction: column;
    gap: var(--pal-size-s);

    width: 40%;

    overflow: auto;

    > .panel {
      flex-grow: 1;

      display: contents;

      &:not(.active) {
        display: none;
      }
    }

    &:not(.active) {
      display: none;
    }
  }

  @media (width <= 76rem) {
    flex-direction: column;

    > .panels {
      height: 50%;
      width: unset;
    }
  }
}
