.cmp-g {
  position: relative;

  display: flex;
  gap: var(--pal-size-m);
  width: 100%;

  > .info {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    gap: var(--pal-size-s);

    overflow: auto;

    > .actions {
      display: flex;
      justify-content: space-between;
      gap: var(--pal-size-s);

      color: var(--pal-color-white);

      > .right {
        display: flex;
        gap: var(--pal-size-s);
        flex-wrap: wrap;

        > .cmp-button {
          border-color: var(--pal-color-c);

          color: var(--pal-color-c-d1);
        }
      }
    }
  }

  > .map-container {
    flex-shrink: 0;

    width: 32rem;

    > .map {
      width: 100%;
      height: 100%;

      border-radius: var(--pal-size-xs);
      isolation: isolate;

      *:focus {
        outline: none;
      }
    }

    &:not(.active) {
      display: none;
    }
  }

  @container cmp-view (width <= 80rem) {
    flex-direction: column;

    > .map-container {
      height: 16rem;
      width: 100%;
    }
  }
}
